body {
    background-color: rgb(49, 51, 56);
}


* {
    color: white;
}


h1 {
    font-size: 3.125em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: .45em;
    border-bottom: 3px solid;
}

button {
    background-color: rgb(49, 51, 56);
    border: 2px solid;
    border-radius: 5px;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 15px;
}

#container {
    display: grid;
    margin: 50px 300px 30px 300px;
}

