input {
    width: 20%;
    font-size: 60px;
    padding: 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    input {
        font-size: 60px;
        padding-bottom: 100px;
        padding-top: 100px;

    }

}

#sum{
    border: 3px solid black;
}



