body{
    background-color: gray;
}

#vraag{
    background-color: green;
    color: white;
    padding: 32px 20px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 80%;
    text-align: center;
}

button{

    background-color: darkorange;
    padding: 50px;
    font-size: 45px;
    transition-duration: 3s;
}

button:hover{
    background-color: orange;
}

button:active{
    background-color: purple;

}

#antwoorden{
    display: flex;
    justify-content: center;
}

p{
    transition-duration: 2s;
    text-align: center;
    font: 30px Arial, Helvetica, sans-serif;
}