body{
    background-color: gray;
}

#vraag{
    background-color: green;
    color: white;
    padding: 32px 20px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 80%;
    transition-duration: 100ms;
    text-align: center;
}

button{
    background-color: darkorange;
    padding: 80px;
    font-size: 45px;
    transition-duration: 3s;
}

button:hover{
    background-color: orange;
}

button:active{
    background-color: purple;

}